<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="static/css/style.css">
		<link rel="icon" type="image/jpg" href="static/image/favicon.jpg">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-GTN7GN3ME1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-GTN7GN3ME1');
		</script>
		<!-- Event snippet for Page view (2) conversion page
		In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
		<script>
			function gtag_report_conversion(url) {
			var callback = function () {
				if (typeof(url) != 'undefined') {
				window.location = url;
				}
			};
			gtag('event', 'conversion', {
				'send_to': 'AW-16848094476/jSzYCOm7waQaEIyK5uE-',
				'event_callback': callback
			});
			return false;
			}
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>CustomizableTrips</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg">
			<div class="container text-uppercase p-2">
			<a class="navbar-brand font-weight-bold" href="#">Customizable Trips</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation text-black">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#servicediv">Packages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#aboutus">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contact">Contact</a>
				</li>
			</div>
		</nav>
		<section class="header-section">
			<div class="center-div">
				<h1 class="font-weight-bold">Welcome to Golden Journeys – Travel Made Easy for Seniors!</h1>
				<p>You Pick the Dates, We Plan the Magic!</p>
				<p>Discover the USA with comfort, ease, and expert guidance. At Golden Journeys, we specialize in curated travel packages designed specifically for seniors, ensuring every trip is relaxing, enjoyable, and worry-free.</p>
				<div class="header-button">
					<a href="#aboutus">About Us</a>
					<a href="#contact">Contact Us</a>
				</div>
			</div>
		</section>
		<section class="header">
			<div class="container">
				<div class="row">
					<div class="extra col-lg-3 md-3 col-12">
						<a href="#"><i class="fa-3x fa fa-smile-o"></i></a>
						<h2>Senior-Friendly Itineraries</h2>
						<p>Guided activities, accessible accommodations, and a leisurely pace.</p>
					</div>
					<div class="extra col-lg-3 md-3 col-12">
						<a href="#"><i class="fa-3x fa fa-map-marker"></i></a>
						<h2>Hassle-Free Trave</h2>
						<p>You can concentrate on creating memories while we take care of the planning.</p>
					</div>
					<div class="extra col-lg-3 md-3 col-12">
						<a href="#"><i class="fa-3x fa fa-magic"></i></a>
						<h2>Small Group Tours</h2>
						<p>Enjoy personalized service and companionship.</p>
					</div>
					<div class="extra col-lg-3 md-3 col-12">
						<a href="#"><i class="fa-3x fa fa-plane"></i></a>
						<h2>Safe & Comfortable</h2>
						<p>Hotels, transportation, and activities that have been carefully chosen.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="aboutus" id="aboutus">
			<div class="container headings">
				<div class="row align-items-center">
					<!-- Image -->
					<div class="col-md-6 text-center">
						<img src="static/image/about.jpg" alt="About Us Image" class="img-fluid rounded">
					</div>
					<!-- Text Content -->
					<div class="col-md-6">
						<h1>About Us</h1>
						<p>We focus on personalized group travel adventures crafted for relaxation, convenience, and fun. Regardless of whether you’re journeying with friends, family, or a senior group, we take care of every detail—from planning your itinerary to making reservations and managing the trip.</p>
						<h4>What do we offer?</h4>
						<ul>
							<li>Completely personalized travel experiences designed around your financial plan and timetable.</li>
							<li>Carefully selected lodging, dining options, and transportation services.</li>
							<li>Professionally arranged tours and activities customized to fit your preferences.</li>
							<li>Round-the-clock assistance available prior to and throughout your journey.</li>
						</ul>
					</div>
				</div>
			</div>
		</section>		
		<section class="service" id="servicediv">
			<div class="container headings text-center">
				<h1 class="text-center font-weight-bold">Explore Our Packages</h1>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12 services">
						<div class="row">
							<div class="col-12">
								<img src="static/image/heritage-tour.jpg" alt="Heritage Tour" class="img-fluid">
								<h2>Heritage Tour of the East Coast</h2>
								<p>See historical sites in Boston, Washington, D.C., and New York.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<img src="static/image/southwest-wonders.jpg" alt="Southwest Wonders" class="img-fluid">
								<h2>Wonders of the Southwest</h2>
								<p>With guided tours, explore Santa Fe, Sedona, and the Grand Canyon.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<img src="static/image/california-beach.jpg" alt="California Beach" class="img-fluid">
								<h2>California Beach Vacation</h2>
								<p>Savour stunning views of the ocean while visiting San Francisco, Los Angeles, and San Diego.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<img src="static/image/southern-charm.jpg" alt="Southern Charm" class="img-fluid">
								<h2>Adventure with Southern Charm</h2>
								<p>Discover the rich history and culture of Savannah, Charleston, and New Orleans.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<img src="static/image/national-parks.jpg" alt="National Parks" class="img-fluid">
								<h2>A Retreat in National Parks</h2>
								<p>Discover the Great Smoky Mountains, Yosemite, and Yellowstone at a relaxed pace.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script>
			function showPopup(event) {
				event.preventDefault(); // Prevents the form from submitting
				alert("Thanks! We will get back to you.");
			}
		</script>
		<section class="how-it-works">
			<div class="container headings">
				<div class="container headings text-center">
					<h1 class="text-center font-weight-bold">How it works?</h1>
				</div>
				<div class="row">
					<div class="col-lg-8 col-12 offset-lg-2 offset-md-2">
						<div class="input-group mb-3">
							<ul>
								<li>1️⃣ Share Your Preferences – Let us know your budget, travel dates, and interests.</li>
								<li>2️⃣ Your Itinerary is Created – Our specialists will craft a tailored travel plan for you.  </li>
								<li>3️⃣ We Manage Bookings – All arrangements for hotels, flights, transportation, and experiences are handled.</li>
								<li>4️⃣ You Travel & Enjoy! – Experience a smooth, hassle-free trip with our complete assistance.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-------contact us------>
		<section class="contact" id="contact">
			<div class="container headings text-center">
				<h1 class="text-center font-weight-bold">Contact Us</h1>
				<p class="text-center">Let us take care of everything so you can focus on the joy of travel. Contact us now to book your next adventure!</p>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-md-2 offset-1">
						<form action="/action_page.php">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter Your Name" id="Username"required autocomplete="off">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Enter Email id" id="email"required autocomplete="off">
							</div>
							<div class="form-group">
								<input type="text" class="form-control"  placeholder="Contact No"id="Contact No"required autocomplete="off">
							</div>
							<div class="form-group">
								<textarea class="form-control"placeholder="Enter Your Message" rows="5" id="comment"></textarea>
							</div>
							<div class="d-flex justify-content-center form-button">
								<button type="submit" class="btn btn-primary" onclick="showPopup(event)">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-------footer------>
		<footer class="footersection" id="footerdiv">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12 footer-div text-center">
						<div>
							<h2>CUSTOMIZABLE TRIPS</h2>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12 footer-div text-center">
						<div>
							<li><a href="#">Home</a></li>
							<li><a href="#servicediv">Packages</a></li>
							<li><a href="#aboutus">About</a></li>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12 footer-div text-center">
						<div>
							<p>Contact us at : +1 323-473-3418</p>
						</div>
					</div>
				</div>
				<div class="mt-5 text-center">
					<p>Copyright @2025 All Rights Reserved | CUSTOMIZABLE Trips</p>
				</div>
			</div>
		</footer>
	</body>
</html>
